html, body {
  
  height: 100%;
  cursor: none;

}

body {

  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

}

canvas {
  display: block;
}

#inpOnePos {

  top: 30%;
  left: calc(50% - 100px);
  position: absolute;
  
}

#inpTwoPos {

  top: 40%;
  left: calc(50% - 100px);
  position: absolute;
  
}

#inpThreePos {

  top: 50%;
  left: calc(50% - 100px);
  position: absolute;
  
}

#inpFourPos {

  top: 60%;
  left: calc(50% - 100px);
  position: absolute;
  
}